<html dir="rtl">
<body>
    <h1>ברוכים הבאים!</h1>
	<a href="#" onclick="post()" class="myButton">פרסם דיווח</a>
    <script>
    function post() {
    location.replace("http://127.0.0.1:8000/post/")
    }
    </script>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <br>
    {% if pets_list %}
        <ul>
        {% for pet in pets_list %}
        <p> {{ pet.pub_date }}</p> 
		<td>פרטי המפרסם: {{ pet.pub_name }}</td>
        <p> {{ pet.pub_phone }}</p> 
		<td>סוג החיה: {{ pet.animal_type }}</td>
		<br>
		<td>מיקום: {{ pet.animal_location }}</td>
		<br>
		<td>פרטים נוספים: {{ pet.animal_freetext }}</td>
        <img src="{{ pet.animal_image.url }}">
		<br>
		<td><a href="delete/{{ pet.id }}">הוחזר לבעליו</a></td>
            <p> _______________________________________________________________________________________</p>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>אין דיווחים זמינים.</p>
    {% endif %}
    </form>
    </body>
    </html>
 












