{% extends "base.html" %}
{% block title %}<title>LostPet</title>{% endblock title %}
{% block containerCenter %}
<div class="container contact-form">
            <div class="contact-image">

            </div>
            <form method="post">
                <h3>צור קשר</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="c">
</tr><tr>
<input name="pet" type="hidden" value="{{ pet_id }}" >
<td>שם פרטי:</td>
    <td><input type="text" name="firstName" required /></td>
</tr><tr>
<br />
<br />
<td>שם משפחה:</td>
    <td><input type="text" name="lastName" required /></td>
</tr><tr>
<br />
<br />
<td>טלפון:</td>
    <td><input type="text" name="phone" required /></td>
</tr><tr>
<br />
<br />
<td>כתובת דוא"ל:</td>
    <td><input type="text" name="email" required /></td>
</tr><tr>
<br />
<br />
<td>פרטים:</td>
    <td><input type="text" name="freetext" required /></td>
</tr><tr>
<br />
<br />
{{form.captcha}}
<br />

<br />

    <div class="form-actions">
      <button id="send" type="submit">שלח</button>
    </div>
    </div>

{% endblock %}