<html>
<head>
</head>
<h1>Post a Lost/Found Pet</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
	<td>תאריך:</td>
    <td><input type="datetime-local" name="pub_date" required /></td>
</tr><tr>
<br />
<br />
<td>שם המדווח:</td>
    <td><input type="text" name="pub_name" required /></td>
</tr><tr>
<br />
<br />
<td>טלפון:</td>
    <td><input type="text" name="pub_phone" required /></td>
</tr><tr>
<br />
<br />
<td>כתובת דוא"ל:</td>
    <td><input type="text" name="pub_email" required /></td>
</tr><tr>
<br />
<br />
<td>סוג החיה:</td>
    <td><input type="text" name="animal_type" required /></td>
</tr><tr>
<br />
<br />
<td>סטטוס:</td>
    <td><input type="text" name="animal_status" required /></td>
</tr><tr>
<br />
<br />
<td>מיקום:</td>
    <td><input type="text" name="animal_location" required /></td>
</tr><tr>
<br />
<br />
<td>פרטים נוספים:</td>
    <td><input type="text" name="animal_freetext" required /></td>
</tr><tr>
<br />
<br />
<td>תמונה:</td>
<input type="file" name="animal_image" accept="image/*" >
<br />
<br />
{{form.captcha}}
    <div class="form-actions">
      <button id="send" type="submit">submit!</button>
    </div>
</form>
</body>
</html>